<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&viewall=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&viewall=swap">
    <link rel=stylesheet href="main.css">
    <title>View all students</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #1c1c1c;
        }
    </style>
</head>
<body>
    <%- include('common/header') %>
    <h1>All Student Information</h1>
    <table>
        <thead>
            <tr>
                <th>URN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Phone</th>
                <th>Course Name</th>
                <th>Student Type</th>
                <th>Hobbies</th> 
                <th>Societies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((student) => { %>
                <tr>
                    <td><%= student.URN %></td>
                    <td><%= student.Stu_FName %></td>
                    <td><%= student.Stu_LName %></td>
                    <td><%= student.Stu_DOB.toLocaleDateString() %></td>
                    <td><%= student.Stu_Phone %></td>
                    <td><%= student.Course_Name %></td> 
                    <td><%= student.Stu_Type %></td>
                    <td>
                        <% if (student.Hobbies && student.Hobbies.length > 0) { %>
                            <%= student.Hobbies %>
                        <% } else { %>
                            None
                        <% } %>
                    </td> 
                    <td>
                        <% if (student.Societies && student.Societies.length > 0) { %>
                            <%= student.Societies %>
                        <% } else { %>
                            None
                        <% } %>
                    </td> 
                    <td><a href="/update/<%= student.URN %>">Update</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>